.row {
display: flex;
flex-wrap: wrap;

}
h4{ text-align: left; 
padding-left: 12px

}
.subheader{
background-color: blue; 

display: flex;
}
.P{background-color: #1faabe}
.Q{background-color: #51d466 }
.V{background-color: #f8a841 }
.U{background-color: red}
.numbers{
padding-top: 22px; 
padding-left: 7em

}
.columns{
padding: 10px;
width: 30%

}
p {

}
.image{
margin-top: 5px;
}
img{width: 18em}

img:hover{
transform:rotate(7deg) ;
transition: all 0.2s ease-in-out 0s;

}
.image{
border-style: solid ; 
}
/*@keyframes{
img{
	translate:-20deg;
	}
}*/
.fa{
padding-top: 12px;
padding-left: 12px;

}