* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0px; 
    padding: 0px; 
    font-family: "Avenir-Medium", sans-serif;
  font-weight: 400;
  background-color: #d9edf7;
}
h2{
    font-family: "Avenir-Heavy", sans-serif;
}
table {
    background-color: #ff003e29;
}
